@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

*{
    font-family: 'Pretendard';
    margin: 0;
}
body{
    background-color: #fff;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#modal{
    position: fixed;
    width: 100%;
    /* height: attr(h); */
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background-color: #00000001;
    z-index: 1;
    backdrop-filter: blur(10px)

}
form{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0px;

    align-items: center;
    background-color: #eee;
    padding: 30px;
    border-radius: 15px;
    /* width: 80%; */
}

#modal-sw{
    position: absolute;
    z-index: 2;
    
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: #ddd;
}