#posts{
    margin: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.post{
    flex-grow: 1;
    min-width: 200px;
    max-width: 300px;
    height: 150px;
    color: #191919;
    padding: 10px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px #ddd;

    animation-name: faid-in;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0, 1.32, 0.57, 1);
}

.post > h2{
    color: #bbb;
}

@keyframes faid-in {
    0%{
        transform: translateY(-100px)
    }
    100%{
        transform: translateY(0px)
    }
}